a:hover { color: #4B58A6; }

#map_canvas img {
  max-width: none;
}

.filter-box { 
  height: 15px; 
  width: 15px;  
  display: inline-block;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box; 
}

.filter-yellow { background-color: #FBF358; }
.filter-green { background-color: #00E13C; }
.filter-blue { background-color: #5781FC; }
.filter-purple { background-color: #7C54FB; }
.filter-red { background-color: #FB6353; }

canvas {-ms-touch-action: double-tap-zoom;}

/* customizations for iframe template */
.iframe #map_canvas { height: 500px; }
.iframe .well { margin-bottom: 5px; }
.iframe .alert { margin-top: 5px; }
.well{
    /*padding: 6px;*/
    margin-left: 8px;
    margin-right: 8px;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 5px;
    /*background-color:#EBEBEB;*/
}
.dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
}
.dataTables_wrapper .dataTables_info {
    float: left;
    text-align: left;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}

.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}
.form-group {
    margin-bottom: 6px;
}
.form-horizontal .control-label {
  /*
    padding-left: 3px;
    padding-right: 3px;
    */

    padding-top: 7px;
    margin-bottom: 0;
    text-align: center;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 3px;
}

body {
    font-family: Roboto, 'PingFang TC', 黑體-繁, 'Heiti TC', 蘋果儷中黑, 'Apple LiGothic Medium', 微軟正黑體, 'Microsoft JhengHei', sans-serif;
    font-weight: 400;
    color: rgb(51, 51, 51);
    margin: 0px;
/*    background-color:#EBEBEB;*/
}
table.dataTable.no-footer {
    border-bottom: 1px solid #DCDCDC;
}

table.dataTable thead th, table.dataTable thead td {
    /*border-bottom: 1px solid #111;*/
    border-bottom: 1px solid rgba(17, 17, 17, 0.58);
}

table.dataTable.display tbody tr {
    background-color: #ffffff;
    height: 50px;
}
table.dataTable.display tbody th, table.dataTable.display tbody td {
    padding: 0px;
    text-align: center;
}
table.dataTable.cell-border tbody tr:first-child th, table.dataTable.cell-border tbody tr:first-child td {
    vertical-align: middle;
    align:center;
}
.navbar {
    background-image: linear-gradient(#333, #333 60%, #333);
}
h1 {
  color:white;
  word-wrap: break-word;
}
h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: black;
}
.well>a {
    color: black;
}
