<html>
  <body>

    <ul>

    {{range .ServiceSellers}}
      <li>
      {{with .Owner}}
        <b>{{.}}</b> said:
      {{else}}
        Guest said:
      {{end}}
      {{.Content}}
    {{end}}

    <p><a href="/sform">免費服務刊登</a>
    <p><a href="/cform">免費詢價刊登</a>

  </body>
</html>